.login-body{
    // background: url("https://www.enjpg.com/img/2020/marvel-9.jpg");
    // background-size: cover;
    height: 67.5vh;
    width: 100%;

    background-image: url("../Login/Login.png");
    background-size: cover;

  }
  .login-form-container{
    position: relative;
    padding-top: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .login-form-background{
    height: 100%;
    width: 40%;
    position: relative;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding:2vh;
      
  }
  @media screen and (min-width: 1680px) {
    .login-form-background{
      height: 100%;
      width: 30%;
      position: relative;
      top: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // padding:2vh;
    }
    }
    @media screen and (max-width: 420px) {
      .login-form-background{
        height: 100%;
        width: 60%;
        position: relative;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding:2vh;
      }
      }

  .login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-top:2vh;
    position: relative;
    z-index: 1;
    input {
      font-size: large; 
    } 
  }
  .login-form-background-image{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5.5vh;
    left: 0;
    right: 0;
    bottom: 0;
    // opacity: 0.85;
    z-index: 0;
  }
  .login-span{
    display: block;
    color: #f80e15;
    align-self: flex-start;
    font-size: x-large;
  }
  
  .login-input{
    margin-top: 4rem;
    border: none;
    outline: none;
    padding: 1vh;
    width: 100%;
    font-size: x-large;
  
    &:active{
      animation-name: vibration;
      animation-duration: 200ms;
    }
  }
  
  .login-button{
    width: 100%;
    border: none;
    outline: none;
    margin-top: 8vh;
    padding: 1vh;
    color: white;
    background-color: #EC1D24;
    box-shadow: 3px 3px 3px gray;
    transition: ease-in-out 0.5s all;
    cursor: pointer;
    font-size: x-large;
  
    &:hover{
      outline-offset: -5px;
      outline: 1px solid white;
    }
  
    &:active{
      box-shadow: none;
    }
  }

  
  @keyframes vibration{
    25% {transform: translateX(10px);}
    50% {transform: translateX(-10px);}
    75% {transform: translateX(10px);}
    100% {transform: translateX(-10px);}
  }