@import url(https://fonts.googleapis.com/css?family=Raleway);
.snip-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: min-content;
  color: #e9e9e9;
  text-align: center;

  .button {
    width: 90px;
    height:35px;
    padding: 1px;
    margin: 15px;
    background-color: gray;
    color: black;
  }

  h3 {
    font-size: 18px;
  }
  h5 {
    font-size: 15px;
  }
  .snip1584 {
    font-family: 'Monospace', sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #e9e9e9;
    font-size: 16px;
    text-align: left;
    img {
      vertical-align: top;
      // max-width: 100%;
      backface-visibility: hidden;
    }
    figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h3,h5 {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    margin-bottom: 30px;
    font-size: large;
  }
  a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
  .snip1584 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .snip1584:before {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 100%;
    content: '';
    background-color: rgba(22, 22, 22, 0.9);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
    opacity: 0.9;
  }
  .snip1584:hover:before,
  .snip1584.hover:before {
    top: 10px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .snip1584:hover h3,h5,Button
  .snip1584.hover h3,h5,Button {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .snip1584:hover h3,h5,Button
  .snip1584.hover h3,h5,Button {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }}
