*{
  font-family: 'Marvel', sans-serif;
}
.App {
  // background: #791212; 
  // background: -webkit-linear-gradient(to left, #a43931, #791212); 
  // background: linear-gradient(
  //     to left,
  //     #a43931,
  //     #791212
  // ); 
 
  width: 100%;
  height: auto;
  // justify-content: center;
  // align-items: center;
}

